* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

html, body {
  margin: 0;
  background-color: #fafafa;
}

main {
  padding: 1.5em;
}

/** GENERAL STYLINGS **/

/* use of important to handle color theme state and apply to both versions; other solution would be preferred */
button:hover {
  background-color: #7a7f85 !important;
  color: white;
  font-weight: bold;
}

/** COLOR THEME **/

  /** DARK MODE **/

  .dark-bg, #dark-bg {
    background-color: #202c37;
    color: white;
    -webkit-box-shadow: 0px -1px 4px -1px #181818;
    -moz-box-shadow: 0px -1px 4px -1px #181818;
    box-shadow: 0px -1px 4px -1px #181818;
  }

  .dark-el, #dark-el {
    background-color: #2b3945;
    color: white;
    -webkit-box-shadow: 0px -1px 4px 2px #181818;
    -moz-box-shadow: 0px -1px 4px 2px #181818;
    box-shadow: 0px -1px 4px 2px #181818;
  }

/** HEADER **/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5em 1.5em;
  -webkit-box-shadow: 0px -1px 4px 3px #e4e3e3;
  -moz-box-shadow: 0px -1px 4px 3px #e4e3e3;
  box-shadow: 0px -1px 4px 3px #e4e3e3;
}

.header-title {
  margin: 0;
}

.color-switch {
  display: flex;
  align-items: center;
  gap: 0.6em;
  font-weight: 600;
  cursor: pointer;
}

/** MAIN VIEW **/ 

.search-bar {
  position: relative;
  margin-top: 0.5em;
}

.search-icon {
  position: absolute; /* CHANGE POSITIONING !!!! */ 
  top: 18px;
  left: 40px; 
  color: rgb(155, 155, 155);
  z-index: 1;
}

.search-input {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 1em;
  padding-left: 7em;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 2px 4px 3px #e4e3e3;
  -moz-box-shadow: 0px 2px 4px 3px #e4e3e3;
  box-shadow: 0px 2px 4px 3px #e4e3e3;
  line-height: 2;
}

.filter {
  width: 50%;
  margin-top: 3.5em;
  padding: 1.25em 1.667em;
  background-color: white;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 2px 4px 3px #e4e3e3;
  -moz-box-shadow: 0px 2px 4px 3px #e4e3e3;
  box-shadow: 0px 2px 4px 3px #e4e3e3;
  border-right: 20px solid transparent;  /* changes arrow position */
}

option {
  border-radius: 5px;
}

/** COUNTRY card **/ 

.country-container {
  margin: 3em;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 2px 4px 3px #e4e3e3;
  -moz-box-shadow: 0px 2px 4px 3px #e4e3e3;
  box-shadow: 0px 2px 4px 3px #e4e3e3;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.flag {
  align-self: center;
  margin: 0 auto;
  max-width:100%;
  max-height:100%;
  border-radius: 5px 5px 0 0 ;
}

.flag-clickable {
  cursor: pointer;
}

.country-details {
  padding: 1.5em;
}

.country-name {
  margin: 0 auto 1em auto;
}

.country-details > p {
  font-weight: 300;
  margin: 0.5em 0;
}

b {
  font-weight: 600;
}

/** COUNTRY VIEW CONTAINER **/

.country-view-container {
  padding: 1em;
}

.back-btn, .border-btn {
  padding: 0.5em 2em;
  margin-bottom: 5em;
  border-radius: 2px;
  border: none;
  -webkit-box-shadow: 0px 2px 4px 3px #e4e3e3;
  -moz-box-shadow: 0px 2px 4px 3px #e4e3e3;
  box-shadow: 0px 2px 4px 3px #e4e3e3;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.border-btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.border-btn {
  margin: 0;
}

.no-border {
  margin: 0;
}

.back-btn-icon {
  margin-right: 0.7em;
}

.country-view-container > img, .country-view-container > .country-info, .country-add-info {
  margin-bottom: 3em;
}

/* MEDIA QUERIES FOR DESKTOP DESIGN */

@media (min-width: 1200px) {
  .country-container {
    max-width: 280px;
  }

  .country-container > img {
    min-width: 260px;
    min-height: 180px;
  }

  .country-elements-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
  }
}