* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

html, body {
  margin: 0;
}

main {
  padding: 1.5em;
}

/** HEADER **/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5em 1.5em;
  -webkit-box-shadow: 0px -1px 4px 3px #e4e3e3;
  -moz-box-shadow: 0px -1px 4px 3px #e4e3e3;
  box-shadow: 0px -1px 4px 3px #e4e3e3;
}

.header-title {
  margin: 0;
}

.color-switch {
  display: flex;
  align-items: center;
  gap: 0.6em;
  font-weight: 600;
}

/** MAIN VIEW **/ 

.search-bar {
  position: relative;
  margin-top: 0.5em;
}

.search-icon {
  position: absolute; /* CHANGE POSITIONING !!!! */ 
  top: 18px;
  left: 40px; 
  color: rgb(155, 155, 155);
  z-index: 1;
}

.search-input {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 1em;
  padding-left: 7em;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 2px 4px 3px #e4e3e3;
  -moz-box-shadow: 0px 2px 4px 3px #e4e3e3;
  box-shadow: 0px 2px 4px 3px #e4e3e3;
  line-height: 2;
}

.filter {
  width: 50%;
  margin-top: 3.5em;
  padding: 1.25em 1.667em;
  background-color: white;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 2px 4px 3px #e4e3e3;
  -moz-box-shadow: 0px 2px 4px 3px #e4e3e3;
  box-shadow: 0px 2px 4px 3px #e4e3e3;
  border-right: 20px solid transparent;  /* changes arrow position */
}

option {
  border-radius: 5px;
}

/** COUNTRY card **/ 

.country-container {
  margin: 3em;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 2px 4px 3px #e4e3e3;
  -moz-box-shadow: 0px 2px 4px 3px #e4e3e3;
  box-shadow: 0px 2px 4px 3px #e4e3e3;
}

.flag {
  max-width:100%;
  max-height:100%;
  border-radius: 5px 5px 0 0 ;
}

.country-details {
  padding: 1.5em;
}

.country-name {
  margin: 0 auto 1em auto;
}

.country-details > p {
  font-weight: 300;
  margin: 0.5em 0;
}

b {
  font-weight: 600;
}

